body	{
		background-color: #FFFFFF;
		margin: 0px;
		padding: 0px;
		font-family: helvetica;
		text-align: left;
		}

/* Hier start alles wat in de header hoort */
	
header 	{
		background-image: url(http://dl.dropbox.com/u/4981807/sub-header.png);
		height: 52px;
		}
		
div#write	{
			height: 52px;
			}
			
div#write ul	{
				position: absolute;
				margin: 0px;
				padding: 0px;
				width: 25px;
				height: 25px;
				top: 20px;
				}

/* Hier komen de menu's die dienen om shouts te schrijven, etc */
				
div#write ul.m1	{
				background-image: url(http://dl.dropbox.com/u/4981807/ToolbarCompose.png);
				left: 73px;
				}

div#write ul.m2	{
				background-image: url(http://dl.dropbox.com/u/4981807/ToolbarReply.png);
				left: 117px;
				}
				
div#write ul.m3	{
				background-image: url(http://dl.dropbox.com/u/4981807/ToolbarArchive.png);
				left: 161px;
				}
				
div#write ul.m4	{
				background-image: url(http://dl.dropbox.com/u/4981807/ToolbarDelete.png);
				left: 205px;
				}
				
div#write ul.search	{
					width: 200px;
					right: 7px;
					top: 18px;
					}

div#write ul.search form	{
							margin: 0px;
							}

div#write ul.search input	{
							width: 200px;
							border-radius: 8px;
							border: 1px solid #999;
							line-height: 15px;
							padding: 3px;
							}


/* Hier stoppen ze */
/* Hier stopt alles van de header */
/* Hier start de content */

content	{
		position: absolute;
		top: 52px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		margin: 0px;
		padding: 0px;
		}
		
/* Hier wordt de content onderverdeelt in verschillende delen */


/* Deel 1: deze is aanwezig op elke pagina */

div#menu	{
			width: 61px;
			height: 100%;
			margin: 0px;
			padding: 0px;
			background-image: url(http://dl.dropbox.com/u/4981807/navbar-pattern.png);
			float: left;
			}

/* Mijn menu's */

div#menu ul.home	{
					background-image: url(http://dl.dropbox.com/u/4981807/SidebarInbox.png);
					width: 40px;
					height: 40px;
					margin: 10.5px;
					padding: 0px;
					}

div#menu ul.images	{
					background-image: url(http://dl.dropbox.com/u/4981807/SidebarFavorite.png);
					width: 40px;
					height: 40px;
					margin: 10.5px;
					padding: 0px;
					}

div#menu ul.blog	{
					background-image: url(http://dl.dropbox.com/u/4981807/SidebarDraft.png);
					width: 40px;
					height: 40px;
					margin: 10.5px;
					padding: 0px;
					}
					
div#menu ul.archief	{
					background-image: url(http://dl.dropbox.com/u/4981807/SidebarArchived.png);
					width: 40px;
					height: 40px;
					margin: 10.5px;
					padding: 0px;
					}
					
/* Hier stoppen m'n menu's */

/* Deel 2: enkel aanwezig op de homepage */

div#inbox	{
			width: 300px;
			height: 100%;
			background-color: #FDFDFD;
			margin: 0px;
			padding: 0px;
			float: left;
			border-right: 1px solid #B4B4B4;
			}
			
div.shouts	{
			border-bottom: 1px solid #B4B4B4;
			border-right: 1px solid #B4B4B4;
			min-height: 75px;
			width: 300px;
			margin: 10px 0px 10px 0px;
			padding: 0px;
			}

div.shouts star	{
				position: absolute;
				background-image: url(http://dl.dropbox.com/u/4981807/UnselectedmessageUnstarred.png);
				margin: 0px;
				padding: 0px;
		        left: 72px;
		        width: 14px;
		        height: 14px;
				}
				

div.shouts ul	{
				min-height: 70px;
				font-size: 10px;
				}

div.shouts ul h1	{
					font-size: 13px;
					color: black;
					font-weight: bold;
					}

div.shouts ul h2	{
					font-size: 12px;
					color: #404040;
					}

div.shouts ul p	{
					font-size: 11px;
					color: #656565;
					font-weight: normal;
					margin: 0px;
					margin-right: 10px;
					}

div.shouts ul view	{
					margin: -13px 48.5px;
					float: right;
					color: #264365;
					font-weight: bold;
					}
					
div.shouts ul view a	{
						color: #264365;
						}
						
/* Deel 3: enkel aanwezig op de homepage */						
						
div#message	{
			min-width: 500px;
			position: absolute;
			height: 100%;
			margin: 0px;
			padding: 0px;
			left: 362px;
			right: 0px;
			}

div.title	{
			height: 35px;
			width: auto;
			background-image: url(http://dl.dropbox.com/u/4981807/title-bar.png);
			background-size: 35px;
			border-bottom: 1px solid #D6D6D6;
			}

div.title ul	{
				padding: 8.5px;
				margin: 0px;
				}
				
div.title ul h1	{
				font-size: 15px;
				margin: 0px;				
				}
			
div.info	{
			height: 35px;
			width: auto;
			}

div.info ul	{
			padding: 8.5px 0px 0px 33px;
			margin: 0px;
			}
			
div.info ul star	{
					position: absolute;
					background-image: url(http://dl.dropbox.com/u/4981807/UnselectedmessageUnstarred.png);
					margin: 0px;
					padding: 0px;
		     	    left: 10px;
		     	    width: 14px;
		     	    height: 14px;
					}
				
div.info ul p	{
				font-size: 12px;
				font-weight: normal;
				margin: 0px;
				padding: 0px 3px 0px 0px;
				float: left;
				}
				
div.info ul p.right	{
					font-size: 12px;
					font-weight: normal;
					margin: 0px;
					padding: 0px 8px 0px 0px;
					float: right;
					color: #918686;
					}

div.content	{
			position: absolute;
			left: 1px;
			right: 250px;
			height: auto;
			}

div.content ul	{
				padding-left: 33px;
				margin: 15px 0px 15px 0px;
				}
				
div.content ul p	{
					font-size: 12px;
					font-weight: normal;
					margin: 0px;
					line-height: 15px;
					text-align: justify;
					}

div.photo	{
			position: absolute;
			width: 250px;
			right: 0px;
			height: auto;
			}
			
div.photo img	{
				margin: 10px 29px 10px 29px;
				padding: 0px;
				height: 190px;
				width: 190px;
				border: 1px solid #D6D6D6;
				border-radius: 8px;
				background-color: #FDFDFD;
				}
				
div.submit	{
			position: absolute;
			bottom: 0px;
			top: auto;
			width: 100%;
			height: 35px;
			border-top: 1px solid #D6D6D6;
			background-size: 35px;			
			background-image: url(http://dl.dropbox.com/u/4981807/title-bar.png);
			}
			
div.submit a	{
				text-decoration: none;
				}
			
div.submit	a button	{
						position: absolute;
						left: 33px;
						height: 25px;
						width: auto;
						margin: 5px 0px 5px 0px;
						border-radius: 4px;
						border: 1px solid #D6D6D6;
						background-color: #FDFDFD;
						text-decoration: none;
						}
					
div.submit arrow1	{
					position: absolute;
					left: 60px;
					right: auto;
					bottom: 45px;
					top: auto;
					height: 52px;
					width: 65px;
					background-image: url('http://dl.dropbox.com/u/4981807/arrow1.png');
					background-size: 65px 52px;
					}
					


div.submit text1	{
					position: absolute;
					left: 123px;
					right: auto;
					bottom: 15px;
					top: auto;
					height: 160px;
					width: 180px;
					background-image: url('http://dl.dropbox.com/u/4981807/text1.png');
					background-size: 180px 160px;
					}

			
			
				
/* Deel 4: enkel aanwezig op de fotopage */

div#photos	{
			background-image: url(http://dl.dropbox.com/u/4981807/body-bg-light.png);
			height: 100%;
			margin: 0px;
			padding: 0px;
			}
				

			

				